@import '../../sass/variable';

.login {
    &__header {
        margin-bottom: 3rem;
        h2 {
            font-weight: bold;
            font-size: 24px;
            line-height: 28px;
            color: $color-primary;
            margin-bottom: 1rem;
        }

        p {
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            color: $color-primary;
        }
    }

    .form {
        &__group:not(:last-child) {
            margin-bottom: 2rem;
        }

        &__label {
            color: #315c86;
            font-size: 1.5rem;
            display: block;
            margin-bottom: 1.5rem;
            font-weight: 500;
            transition: all 0.3s;
        }
    }

    .btnContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 4rem;
    }

    .btn {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all 0.2s;
        position: relative;
        font-size: $default-font-size;
        border: none;
        outline: none;
        width: 100%;
        background-color: $color-primary;
        color: $color-white;

        &:hover {
            background-color: $color-white;
            color: $color-primary;
            border: 1px solid $color-primary;
        }
    }
}
